.layout {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  header {
    position: relative;
    width: 100%;
    max-width: calc(1110px + 64px + 64px);
    margin: 0 auto;
    padding: 0 64px;
    height: 58px;
    left: 0;
    top: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  .content-container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 58px - 56px);
    padding-bottom: 48px;
  }

  footer {
    width: 100%;
    max-width: calc(1110px + 64px + 64px);
    margin: 0 auto;
    padding: 0 64px;
    height: 56px;
    .footer-wrapper {
      width: 100%;
      max-width: 1110px;
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #bfc4c9;
    }
  }
}

.layout {
  header {
    .header_logo {
      width: 165px;
      height: 40px;
      margin: 0px 120px 0 0;
    }
    .menu-icon,
    .menu-btn {
      display: none;
    }

    .header_aside {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }
      .header_user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        span {
          font-weight: 600;
          font-size: 14px;
          margin-right: 16px;
        }
        .header_user-avatar {
          width: 58px;
          height: 58px;
        }
        .header-user-menu {
          display: none;
          flex-direction: column;
          justify-content: flex-end;
          width: 200px;
          position: absolute;
          top: 60px;
          right: 0;
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
            0px 1px 5px rgba(191, 196, 201, 0.24);
          border-radius: 10px;
          padding: 8px;
          z-index: 1000;
          button {
            border: none;
            background: none;
            padding: 10px;
            text-align: end;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            cursor: pointer;
          }
        }
        &:hover {
          .header-user-menu {
            display: flex;
          }
        }
      }
    }
  }
}

.layout {
  footer {
    .footer-wrapper {
      .footer-icons {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .layout {
    header {
      .header_logo {
        display: none;
      }
      .menu-icon {
        display: none;
        margin-right: 24px;
        cursor: pointer;
        z-index: 100;
      }
      .menu-btn {
        display: flex;
        flex-direction: column;
        padding: 6.67px 2.67px;
        justify-content: space-between;
        margin-right: 24px;
        cursor: pointer;
        z-index: 100;
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        position: relative;
        span {
          background: #363636;
          width: 26.67px;
          height: 2.67px;
          border-radius: 2px;
          transition: all 0.3s ease-in-out;
        }
        &.open {
          .second-line {
            display: none;
          }
          .first-line,
          .last-line {
            transition: all 0.3s ease-in-out;
            position: absolute;
            top: 50%;
            left: 2.67px;
            width: 18.67px;
            height: 2.67px;
            background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
          }
          .first-line {
            transform: rotate(45deg);
          }
          .last-line {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .layout {
    header {
      max-width: calc(640px + 64px + 64px);
      height: 40px;

      .header_aside {
        justify-content: flex-start;
        .header_user {
          display: none;
        }
      }
    }
    footer {
      max-width: calc(640px + 64px + 64px);
      .footer-wrapper {
        max-width: 640px;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .layout {
    header {
      max-width: calc(288px + 16px + 16px);
      padding: 0 16px;
      margin-top: 24px;
      height: 28px;
      .menu-icon {
        width: 24px;
        height: 24px;
      }
      .menu-btn {
        padding: 5px 2px;
        width: 24px;
        height: 24px;
        span {
          width: 20px;
          height: 2px;
        }
        &.open {
          .second-line {
            display: none;
          }
          .first-line,
          .last-line {
            left: 2px;
            width: 14px;
            height: 2px;
          }
        }
      }
      .header_aside {
        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    footer {
      max-width: calc(288px + 16px + 16px);
      padding: 0 16px;
      height: 104px;
      .footer-wrapper {
        max-width: 288px;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          text-align: center;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          width: 200px;
        }
        .footer-icons {
          display: flex;
          gap: 16px;
          align-items: center;
          margin-top: 16px;
        }
      }
    }
  }
}
