button.common-button {
  border-radius: 20px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border: none;
  cursor: pointer;

  &:disabled {
    background: #f9f9fa;
    border: 1px solid #bfc4c9;
    color: #a7a7a7;
    cursor: not-allowed;
  }
}
