.book-page {
  margin-top: 42px;

  &_content {
    max-width: calc(1110px + 64px + 64px);
    margin: 0 auto;
    padding: 0 64px;
  }

  &_block-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 16px;
    max-width: 350px;
    width: 100%;
    margin-bottom: 16px;
    &.closed {
      border-bottom: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }
}

@media screen and (max-width: 980px) {
  .book-page {
    &_block-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      max-width: 305px;
    }
  }
}

@media screen and (max-width: 768px) {
  .book-page {
    &_content {
      max-width: calc(640px + 64px + 64px);
    }
  }
}

@media screen and (max-width: 620px) {
  .book-page {
    &_content {
      max-width: calc(288px + 16px + 16px);
      padding: 0 16px;
    }
    &_block-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      max-width: 100%;
    }
  }
}
