.sidebar-layout {
  max-width: calc(1110px + 64px + 64px);
  margin: 0 auto;
  padding: 62px 64px 0 64px;
  display: grid;
  grid-template-columns: minmax(auto, 279px) 1fr;
  gap: 6px;
}

@media screen and (max-width: 960px) {
  .sidebar-layout {
    display: block;
    padding-top: 54px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-layout {
    max-width: calc(640px + 64px + 64px);
  }
}

@media screen and (max-width: 620px) {
  .sidebar-layout {
    max-width: calc(288px + 16px + 16px);
    padding: 32px 16px 0 16px;
  }
}
