.card-container-list {
  width: 100%;
  max-width: 825px;
  //height: 218px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
  padding: 16px 24px 16px 16px;
  display: flex;
  flex-direction: row;
  .card-container_book-image {
    min-width: 120px;
    width: 120px;
    height: 170px;
    margin-right: 16px;
  }
  .card-footer {
    justify-content: space-between;
    margin-top: 24px;
    button {
      width: 174px;
      min-width: 174px;
    }
  }
  .description-overflow-container {
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
.card-container-table {
  width: 190px;
  height: 470px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
  padding: 8px 8px 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-container_book-image {
    width: 174px;
    height: 242px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }
  .card-footer {
    justify-content: center;
    margin-top: 28px;
    button {
      width: 166px;
    }
  }
  .description-overflow-container {
    height: 54px;
    overflow: hidden;
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-weight: 600;
    }
  }
}
.card-container-table,
.card-container-list {
  .card-container_book-image {
    overflow: hidden;
    background: #f9f9fa;
    border: 1px solid #a7a7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .card-container_content {
    width: 100%;

    .author {
      margin-top: 8px;
      width: 100%;
      color: #727272;
    }

    .card-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 620px) {
  .card-container-table {
    width: 288px;
    padding: 8px 16px 16px 16px;

    .card-footer {
      button {
        width: 256px;
      }
    }
  }

  .card-container-table,
  .card-container-list {
    .description-overflow-container {
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .author {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .card-container-list {
    width: 100%;
    max-width: 825px;
    //height: 146px;
    padding: 16px 16px 16px 8px;
    .card-container_book-image {
      min-width: 70px;
      width: 70px;
      height: 100px;
      margin-right: 8px;
    }
    .card-footer {
      flex-direction: column;
      justify-content: center;
      gap: 16;
      margin-top: 3px;
      button {
        width: 100%;
        min-width: 100%;
      }
    }
  }
}
